.DivColor{
    background-color: blueviolet;
}

.titleHeader{
    height: 200px;
    background-color: #D9D9D9;
}

.cardSec{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blue{
    width: 500px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(107, 102, 224, 1);
    text-align: center;
}

.brown{
    width: 500px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(175, 85, 85, 1);
    text-align: center;
}

.green{
    width: 500px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(122, 244, 112, 1);
    text-align: center;
}

.teal{
    width: 500px;
    padding: 5px;
    margin-bottom: 5px;
    background-color: rgba(74, 230, 218, 1);
    text-align: center;
}

.thang{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.littleNumBox{
    background-color: rgba(98, 97, 97, 1);
    color: white;
    border: 1px solid black;
    padding: 5px;
    display: flex;
    align-self: flex-start;
}

.swearWord{
    display: flex;
    align-self: flex-start;
    margin-left: 30px;
}

.dude{
    width: 200px;
}

.anotherThang{
    display: flex;
    justify-content: space-around;
}

.carou{
    object-fit: none;
    margin: 30px;
    width: 1500px;
}

.hero-image{
    padding: 30px;
    background-color: rgba(226, 208, 208, 1);
    width: 1500px;
    margin: 30px;
}